{% extends 'base.html' %}

<body>

</body>

{% block head %}
<h1>
    <hr>
    Welcome to My Cloud fundamentals project
    <hr>
</h1>

{% endblock %}
{% block body %}

<body>
    <div>
        <h1>
            <li>
                <a href='https://github.com/tommarvin/cloud-fundamentals-project/tree/edited_forms'>Git Hub
                    Repository</a>
            </li>
            <br>
            <li>
                <a href='https://trello.com/b/fJtUdopT/project-1'>Trello Board</a>
            </li>
        </h1>
    </div>
</body>

{% endblock %}